# This file specifies intentionally untracked files that all Moodle git
# repositories should ignore. It is recommended not to modify this file in your
# local clone. Instead, use .git/info/exclude and add new records there as
# needed.
#
# Example: if you deploy a contributed plugin mod/foobar into your site, put
# the following line into .git/info/exclude file in your Moodle clone:
# /mod/foobar/
#
# See gitignore(5) man page for more details
#
/config.php
/moodle/lib/editor/tinymce/extra/tools/temp/
/moodle/*~
/moodle/*.swp
/moodle/tags
/moodle/TAGS
/moodle/cscope.*
/moodle/.patches/
/moodle/.idea/
/moodle/nbproject/
/moodle/CVS
/moodle/.DS_Store
/moodle/.settings/
/moodle/.project
/moodle/.buildpath
/moodle/.cache
/moodle/phpunit.xml
# Composer support - only composer.json is to be in git, the rest is installed in each checkout.
/moodle/composer.phar
/moodle/composer.lock
/vendor/
/moodle/config.php
/*/.DS_Store
